
/* =========== MULTI STEP PROGRESS BAR ========== */
 
.multi-step {
    margin: .5em 0;
    overflow-x: hidden;
}
/* // Setting up flexbox for list */
.multi-step-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    font-size: var(--font_size_small);
}
.multi-step-list:first-child {
    margin-left: 0;
}
.multi-step-item:last-child {
    margin-right: 0;
}
/* // Defaults for each 'step' */
.multi-step-item {
    position: relative;
    width: 100%;
    margin: 0 0.15em;
    z-index: 2;
    border-radius: .2em;

}
.active .item-title {
    color: var(--light_font);
}
.item-title {
    position: relative;
    margin: 0;
    z-index: 2;
    color: var(--detail_color_2);
    font-weight: 600;
    margin: 0;
    text-align: center;
}
/* Creates the 'arrow' effect / background colors */
.item-wrap {
    padding: .75em;
    position: relative;
    height: 100%;
}
.item-wrap::before, .item-wrap::after {
    position: absolute;
    left: 0;
    content: ' ';
    width: 100%;
    height: 50.5%;
    z-index: 1;
    background-color: #eee;
}
.item-wrap::before {
    top: 0;
    transform: skew(20deg);
    border-radius: .2em .2em 0 0;
}
.item-wrap::after {
    bottom: 0;
    transform: skew(-20deg);
    border-radius: 0 0 .2em .2em;
}
/*  Changing arrow colors based on state */
.active .item-wrap:before, .active .item-wrap:after {
    background: var(--detail_color_2);
}
/* // Changing step styles based on :first/:last step */
.multi-step-item:first-child .item-wrap, .multi-step-item:last-child .item-wrap {
    width: 100%;
    border-radius: .2em;
}
.multi-step-item:first-child .item-wrap::before,
.multi-step-item:first-child .item-wrap::after {
    width: 50%;
    left: 50%;
}
.multi-step-item:last-child .item-wrap::before, 
.multi-step-item:last-child .item-wrap::after {
    width: 50%;
}
/* // If first step, only point on the right */
.multi-step-item:first-child .item-wrap {
    background: linear-gradient(to right, #eee 95%, transparent 5%);
}
.active.multi-step-item:first-child .item-wrap {
    background: linear-gradient(to right, var(--detail_color_2) 95%, transparent 5%);
}
/* // If last step, only indent on the left */
.multi-step-item:last-child .item-wrap {
    background: linear-gradient(to left, #eee 95%, transparent 5%);
}
.multi-step-item:last-child .item-wrap::before, 
.multi-step-item:last-child .item-wrap::after {
    right: 50%;
}
.active.multi-step-item:last-child .item-wrap {
    background: linear-gradient(to left, var(--detail_color_2) 95%, transparent 5%);
}
.completed .item-wrap:before, .completed .item-wrap:after {
    background: #ccc;
    
}
.completed .item-title {
    color: var(--dark_font);
}
.completed.multi-step-item:first-child .item-wrap {
    background: linear-gradient(to right, #ccc 95%, transparent 5%);
}





