:root {
    --font_size: 16px;
    --font_size_h1: 2.5em;
    --font_size_h2: 1.125em;
    --font_size_h2_subtitle: 1.25em;
    --font_size_title: 1.7em;
    --font_size_p: .9em;
    --font_size_span: 1em;
    --font_size_nav: 1.3em;
    --font_size_menu: 1.5em;
    --font_size_small: 0.75rem;
    --dark_font: #2c2e31;
    --light_font: #fff;
    --serif_font: 'GFS Didot', serif;
    --sans_serif_font: 'Poppins', sans-serif;
    --lightblue_white: #f8f9fa;
    --detail_color: #082d41;
    --detail_color_2: #4285f4;
    scroll-behavior: smooth;

}

body {
    font-family: Muli,sans-serif;
    height: 100vh;
    width: 100%;
    font-size: var(--font_size);
    font-family: sans-serif;
}

.main {
    position: relative;
    overflow-x: hidden;
}

.container {
    position: relative;
    padding: 2em 1em;
    width: 100%;
}

p {
    font-size: var(--font_size_p);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: var(--font_size_h1);
}

h2 {
    font-size: var(--font_size_h2);
    font-family: var(--serif_font);
}

ul {
    list-style: none;
}

button {
    color: inherit;
    border: none;
    background: none;
}

.h2-title {
    color: var(--dark_font);
    color: #082d41;
    margin-bottom: 3em;
    letter-spacing: .25em;
    font-family: var(--serif_font);
}

.num-page {
    font-family: var(--sans_serif_font);
    margin: 2.5em 0 1em;
    display: flex;
    align-items: center;
    letter-spacing: .25em;
    font-weight: 400;
    font-size: var(--font_size_small);
    line-height: .9em;
}

.num-page__item:not(:last-child) {
    margin-right: 1em;
}

.num-page div{
    display: inline-block;
    background: var(--dark_font);
    height: 1px;
    width: 3em;
    transform-origin: left center; 
}

.p-info p{
    font-family: var(--sans_serif_font);
    color: var(--dark_font);
    font-weight: 300;
    line-height: 1.75;
    text-align: justify;
    margin-bottom: 1.5em;
}


.swiper {
    position: relative;
    height: 13em;
    width: 100vw;
    left: -.6em;
    display: flex;
    background: inherit;
    text-align: center;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}

/*====================================== NAV BAR ======================================*/

nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
    height: 3.5rem;
    /* background: #0007; */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #fff;
    transition: all .5s;
}

nav div {
    font-weight: 700;
    font-size: var(--font_size_nav);
    padding: 0 1rem;
    
}

.nav__book {
    padding: 0;
    margin-left: 1.5rem;
    
}

.nav__btn-book {
    position: relative;
    top: -.1rem;
    border: 1px solid var(--light_font);
    font-size: var(--font_size_small);
    padding: .75rem 2.5rem;
    font-family: var(--sans_serif_font);
    font-weight: 600;
    transition: border .5s;
}

.nav-menu {
    padding-left: 0;
}

nav.scrolled {
    background: #fff;
    box-shadow: 0 1px 5px #777;
    padding-top: .3rem;
    
}

nav.scrolled div {
    color: var(--dark_font);
}

.nav.scrolled .nav-logo_link {
    color: var(--dark_font);
}

nav.scrolled .nav__btn-book {
    top: -.3rem;
    border: 1px solid var(--dark_font);
}




/* ====================================== MENU ======================================= */

.menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    background: var(--detail_color);
    color: var(--light_font);
    font-family: var(--serif_font);
    font-size: var(--font_size_menu);
    display: flex;
    justify-content: center;
    z-index: 75;
    transition: top .75s;
}

.menu-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 7em 0 5em;
}

.menu-link {
    width: 100%;
}

.menu-btn {
    width: 100%;
    text-align: center;
    padding: .5em 0;
}

.menu.active {
    top: 0;
}







/*======================================= HOME ========================================*/

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(75%);
}

.home .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home__center-info {
    color: var(--light_font);
    text-align: center;
    margin-top: 10em;
}

.home__center-info h1 {
    margin-bottom: 0;
}

.home__center-info h2 {
    font-size: var(--font_size_h2_subtitle);
}

.home__bottom-info {
    position: relative;
    margin-top: 2em;
    color: var(--light_font);
    text-align: center;
}



.home__explore {
    margin-top: 10em;
    width: 13em;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light_font);
    font-size: var(--font_size_small);
    font-family: var(--sans_serif_font);
    letter-spacing: .4em;
    text-align: justify;
}

.home__explore a {
    z-index: 30;
    position: relative;
    left: .25em;
}

.sonar-emitter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.sonar-wave {
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
}

.sonar-wave1 {
    animation: sonarWave 3s linear infinite;
}

.sonar-wave2 {
    animation: sonarWave 3s 1s linear infinite;
}

.sonar-wave3 {
    animation: sonarWave 3s 2s linear infinite;
}

.sonar-wave4 {
    animation: sonarWave 3s 3s linear infinite;
}

@keyframes sonarWave {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.25;
    }
    70% {
        opacity: 0.15;
    }

    100% {
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}



/* ================================= HOTEL DESCRIPTION =============================== */

.description.container {
    background: var(--lightblue_white);
}

.description__img {
    position: relative;
    z-index: 30;
    margin-top: 1em;
    height: 13em;
    /* box-shadow: 0 0 10px #000c; */
    background-position: center;
    background-size: cover;
    background-image: url('../images/hotel1.jpg');
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                    url('../images/hotel1.jpg'); */
}

.description__title {
    text-align: left;
}



/* =============================== ROOMS DESCRIPTION ================================ */

.num-page__rooms {
    justify-content: center;
    margin-bottom: 1em;
}

.rooms__title {
    text-align: center;
    margin-bottom: 4em;
}

.swiper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
}

.slider__card {
    position: relative;
    width: 280px;
}

.slider__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider__img-container {
    height: 12em;
    width: 95%;
    position: relative;
    overflow: hidden;
}

.slider__card-desc {
    margin: 2em 0 2.5em;
    font-size: var(--font_size_span);
    font-family: var(--sans_serif_font);
    position: relative;
    width: 70%;
    text-align: left;
    padding-left: 20px;
}

.slider__card-desc::before {
    content: "";
    width: 25px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -1.5em;
    top: 0.5em;
}

.slider-btn {
    display: none;
}

.swiper-pagination-bullet {
    background: var(--detail_color);
}






/* =============================== RESTAURANT & BAR ================================= */

.restaurant.container {
    position: relative;
    background-color: var(--detail_color);
    height: 40em;
    overflow: hidden;
}

.services-list {
    position: absolute;
    top: -100vh;
    left: 0;
    transition: top .75s;
}

.services-list.active {
    top: 0;
}

.num-page__restaurant {
    justify-content: center;
    color: var(--light_font);
    margin: 10.5em 0 5em;
}

.num-page__restaurant .line-num-page {
    background-color: var(--light_font);
}

.restaurant__list {
    margin-left: 3em;
}

.restaurant__list-btn {
    opacity: .5;
}

.restaurant__list .h2-title {
    color: var(--light_font);
    font-size: 1.65em;
    text-align: left;
    font-weight: 300;
    margin-bottom: 2.5em;
    letter-spacing: 0.1em;
}



.services-info {
    position: absolute;
    top: 100vh;
    left: 0;
    padding: 2em 1em;
    color: var(--light_font);
    display: flex;
    flex-flow: column;
    transition: top .75s;
}

.services-info.active {
    top: 0;
}

.service-title h2{
    font-size: var(--font_size_title);
    font-family: var(--serif_font);
    font-weight: 100;
    text-align: center;
    margin: 1em 0;
}

.service-description {
    text-align: justify;
    margin: 1em 0 2.5em;
    font-family: var(--sans_serif_font);
    line-height: 1.5em;
}

.service-data {
    text-align: justify;
}

.service-data__item {
    position: relative;
    margin: 0em 1em 2em 1em;
    display: flex;
    justify-content: space-between;
}

.service-data__desc {
    max-width: 60%;
}

.service-data__item::after {
    content: "";
    position: absolute;
    background: #fff;
    opacity: .3;
    width: 100%;
    height: 1px;
    bottom: -1em;
    left: 0;
}









/* ===================================== SPA ======================================== */

.spa__img {
    position: relative;
    z-index: 30;
    margin-top: 1em;
    height: 13em;
    /* box-shadow: 0 0 10px #000c; */
    background-position: center;
    background-size: cover;
    background-image: url('../images/spa.jpg');
}




/* =================================== CONTACT ====================================== */

.contact.container {
    background: var(--detail_color);
    background-image: url('../images/mountains.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 1.5em;
}

.contact-info {
    color: var(--light_font);
    font-family: var(--serif_font);
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.contact-btn {
    background: var(--detail_color);
    border: 1px solid var(--light_font);
    width: 100%;
    padding: 1.5em 0;
    color: var(--light_font);
    font-family: var(--sans_serif_font);
    font-size: 14px;
    font-weight: 500;
}

.contact-btn__span {
    margin-left: 2.5em;
}




/* ================================== PACKAGES ====================================== */








/* =================================== FOOTER ======================================= */


footer {
   background: var(--detail_color);
   color: var(--light_font);
   display: flex;
   flex-flow: column;
   justify-items: center;
   text-align: center;
   font-size: var(--font_size_span);
}

.footer-logo {
    font-size: 40px;
    width: 100%;
    text-align: center;
    padding: .5em;
}

.footer-item {
    display: flex;
    flex-flow: column;
    margin: 1em;
}

.footer__social {
    opacity: .7;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.footer__info {
    display: flex;
    flex-flow: column;
    border-top: 1px solid #555;
}

.footer__info span, .footer__info a {
    margin: .5em;
}









/* ====================================== BOOKING PAGE ========================================== */

.top-img {
    background-image: url('../images/pool.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 12.5em;
    filter: brightness(70%);
}

.card {
    margin-top: 1em;
    padding: 1em .5em;
    box-shadow: 0px 5px 20px #bbb;
    display: none;
}

.card.active {
    display: block;
}

.booking-form {
    /* border-top: 1px solid #aaa; */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.check-in-form {
    margin-right: 1em;
}

.check-out-form {
    margin-left: 1em;
}


.form {
    display: flex;
    flex-flow: column;
    padding: .5em 0em;
}

.room-people-form {
    grid-column: 1 / 3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.next-btn:first-child {
    position: relative;
    right: 0;
}

.button {
    background: var(--detail_color_2);
    border: none;
    border-radius: .15em;
    height: 2em;
    color: var(--light_font);
    font-family: var(--sans_serif_font);
    padding: 0 1em;
}





.room-select {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.room {
    height: 25em;
    text-align: center;
}





.extra {
    height: 10em;
    text-align: center;
}