:root {
    --font_size: 16px;
    --font_size_h1: 2.5em;
    --font_size_h2: 1.5em;
    --font_size_h2_subtitle: 1.25em;
    --font_size_p: .9em;
    --font_size_span: 1em;
    --font_size_nav: 1.3em;
    --font_size_small: 0.75rem;
    --dark_font: #2c2e31;
    --light_font: #c9efef;
    --light_font: #fff;
    --serif_font: 'GFS Didot', serif;
    --sans_serif_font: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body {
    font-family: Muli,sans-serif;
    height: 100vh;
    width: 100%;
    font-size: var(--font_size);
    font-family: sans-serif;
}

.main {
    position: relative;
    overflow-x: hidden;
}

.container {
    position: relative;
    padding: 2em 0.6em;
    width: 100%;
}

p {
    font-size: var(--font_size_p);
}

a {
    text-decoration: none;
    color:inherit
}

h1 {
    font-size: var(--font_size_h1);
}

h2 {
    font-size: var(--font_size_h2);
    font-family: var(--serif_font);
}

.h2-title {
    color: var(--dark_font);
    margin-bottom: 2.5em;
    letter-spacing: .25em;
    font-size: .8em;
    font-family: var(--serif_font);
}

.num-page {
    font-family: var(--sans_serif_font);
    margin: 2.5em 0;
    display: flex;
    align-items: center;
    letter-spacing: .25em;
    font-weight: 500;
    font-size: var(--font_size_small);
    line-height: .9em;
}

.num-page__item:not(:last-child) {
    margin-right: 1em;
}

.num-page div{
    display: inline-block;
    background: var(--dark_font);
    height: 1px;
    width: 3em;
    transform-origin: left center; 
}

/*====================================== NAV BAR ======================================*/

nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding-top: 2em;
    height: 3em;
    /* background: #0007; */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav div {
    font-weight: 700;
    font-size: var(--font_size_nav);
    padding: 0 1.5em;
    color: #fff;
}




/*======================================== HOME ========================================*/

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(75%);
}

.home .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home__center-info {
    color: var(--light_font);
    text-align: center;
    padding-top: 5em;
}

.home__center-info h2 {
    margin: 1em 0;
}

.home__bottom-info {
    position: relative;
    margin-top: 5em;
    color: var(--light_font);
    text-align: center;
}

.home__arrow-down {
    position: relative;
    /* position: absolute; */
    bottom: -10em;
    color: #fff;
    font-size: var(--font_size_p);
    letter-spacing: .15em;
}

.home__arrow-down::before {
    content: '';
    position: absolute;
    bottom: .5em;
    left: .35em;
    width: 3px;
    height: 3em;
    background: var(--light_font);
}

.home__arrow-down a {
    padding-top: 2.5em;
}



/* ================================== HOTEL DESCRIPTION ================================= */

.description {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}

.description__img {
    position: relative;
    z-index: 30;
    margin-top: 1em;
    height: 13em;
    /* box-shadow: 0 0 10px #000c; */
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                    url('../images/hotel-small.jpg');
}

.description__title {
    text-align: left;
}

.description__info {
    font-family: var(--sans_serif_font);
    color: var(--dark_font);
    font-weight: 300;
    text-align: justify;
    line-height: 1.75;
}